<body>
    @{
        ViewBag.Title = "Nosso site";
    }


    <div class="jumbotron">
        <h1>Bem-vindo </h1>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Ideias de Date </h2>
            <p>
                Gerando atividades aleatórias para fazermos juntos conforme o clima lá fora
            </p>
        </div>
        <div class="col-md-4">
            <h2>Filmes e séries para assistir</h2>
            <p>
                Listando coisas para assistirmos juntos ou avaliarmos
            </p>
        </div>
        <div class="col-md-4">
            <h2>Comidinhas para fazer</h2>
            <p>
                Ideias de jantares, lanches, cafés da manhã...
            </p>
        </div>
    </div>

    <p></p>
    <div class="row">
        <div class="col-md-4" style="margin-right: 100% !important">
            <h2>Loading...</h2>
            <p>
                Lugares para visitarmos e registrar fotos aqui
            </p>
        </div>
    </div>
</body>